{%  extends 'base.html' %}

{% load static %}


{% block content %}
    



  <div class="hero hero-single route bg-image" style="background-image: url(assets/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <h2 class="hero-title mb-4">Portfolio Details</h2>
          <ol class="breadcrumb d-flex justify-content-center">
            <li class="breadcrumb-item">
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Portfolio Details</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  
                  <img src="{{ portfolios.image.url }}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{{ portfolios.image1.url }}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{{ portfolios.image2.url }}" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>



         





          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                {% if  portfolios.categorie %}
                <li><strong>Category</strong>: {{  portfolios.categorie.nom  }}</li>
                {% endif %}
              <li><strong>Client</strong>: {{portfolios.nom_client}}</li>
                <li><strong>Project date</strong>:  {{ portfolios.date }} </li>
                
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Des exemple d'article  déjà réalisé.</h2>
              <p>
                {{ portfolios.description }}
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

    {% endblock content %}