
{% extends 'base.html' %}



{% block content %}
    


<!-- ======= Services Section ======= -->
<section id="services" class="services-mf pt-5 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Services
            </h3>
            <p class="subtitle-a">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row" style="display: flex;">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-briefcase"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Montage vidéo</h2>
              <p class="s-description text-center">
                Notre approche du montage vidéo se distingue par notre créativité, notre attention aux détails
                 et notre capacité à capturer l'essence même de chaque projet. Que ce soit pour une vidéo promotionnelle,
                 un court-métrage, un clip musical ou tout autre projet, nous nous efforçons de surpasser les attentes de nos clients.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-card-checklist"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Encadreur vidéo</h2>
              <p class="s-description text-center">
                Notre approche de l'encadrement vidéo va au-delà de simplement placer une vidéo derrière du verre. 
                Nous cherchons à créer une expérience immersive en intégrant des éléments visuels et sonores qui captivent
                 l'œil et l'oreille. Chaque cadre est une œuvre d'art en soi, conçue pour raconter une histoire et évoquer des émotions.
              </p>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-bar-chart"></i></span>
            </div>
            
            <div class="service-content">
              <h2 class="s-title">Photographie</h2>
              <p class="s-description text-center">
                Notre approche de la photographie va au-delà de simplement appuyer sur le déclencheur. Nous cherchons à capturer 
                l'essence même de chaque sujet, en utilisant la lumière, la composition et l'émotion pour créer des images qui touchent le cœur et l'âme. Chaque
                séance photo est une expérience personnelle et authentique, conçue pour mettre en valeur la beauté et la vérité de chaque moment.
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-binoculars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">création logo</h2>
              <p class="s-description text-center">
                Notre approche du design de logo va au-delà de simplement créer une image attrayante. Nous cherchons à comprendre l'essence même
                 de chaque entreprise, en utilisant la couleur, la typographie et la symbolique pour transmettre un message clair et puissant. 
                Chaque logo que nous créons est une fusion de créativité et de stratégie, conçu pour se démarquer dans un monde visuellement saturé.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-brightness-high"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Affiche</h2>
              <p class="s-description text-center">
                Notre approche de la conception d'affiche va au-delà de simplement créer un visuel accrocheur. Nous cherchons à comprendre 
                l'essence même de chaque projet, en utilisant la couleur, la typographie et la composition pour transmettre un message clair et impactant. 
                Chaque affiche que nous créons est une pièce unique d'art visuel, conçue pour faire passer votre message avec force et élégance.
              </p>
            </div>
          </div>
        </div> -->
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="bi bi-calendar4-week"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Graphisme</h2>
              <p class="s-description text-center">
                Notre approche du graphisme va au-delà de simplement créer des visuels attrayants. Nous cherchons à comprendre les objectifs
                 et les valeurs de nos clients, en utilisant la couleur, la typographie et la composition pour transmettre leur
                 message de manière efficace et engageante. Chaque projet que nous prenons est une chance de faire une différence.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->
   <!-- ======= Counter Section ======= -->
   <div class="section-counter paralax-mf bg-image" style="background-image: url(assets/img/counters-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container position-relative">
      <div class="row">
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="bi bi-check"></i></span>
            </div>
            <div class="counter-num">
              <p data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="counter purecounter"></p>
              <span class="counter-text">WORKS COMPLETED</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="bi bi-journal-richtext"></i></span>
            </div>
            <div class="counter-num">
              <p data-purecounter-start="0" data-purecounter-end="01" data-purecounter-duration="1" class="counter purecounter"></p>
              <span class="counter-text">YEARS OF EXPERIENCE</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="bi bi-people"></i></span>
            </div>
            <div class="counter-num">
              <p data-purecounter-start="0" data-purecounter-end="11" data-purecounter-duration="1" class="counter purecounter"></p>
              <span class="counter-text">TOTAL CLIENTS</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="bi bi-award"></i></span>
            </div>
            <div class="counter-num">
              <p data-purecounter-start="0" data-purecounter-end="48" data-purecounter-duration="1" class="counter purecounter"></p>
              <span class="counter-text">AWARD WON</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Counter Section -->

{% endblock content%}